body
{
    background: rgb(53, 25, 25);
    font-family: sans-serif;
}

.img-container
{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;

}

.img-container .imagen
{
    position: relative;
    margin-right: -20px;
    display: inline-flex;
    flex-direction: column;
    
}

.img-container .imagen img
{
    width: 150px;
    height: 150px;  
    transition: transform 0.32s ease-in-out; 
}

.img-container .imagen .nombre
{
    position: absolute;
    background-color: rgb(240, 24, 24);
    border-radius: 5px;
    color: rgb(247, 247, 247);
    display: none;
    min-width: 100px;
    width: 150px;
    top: -55px;
    padding: 10px 15px;

}

.img-container .imagen .nombre .text
{
   display: inline-block;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   margin: 0 auto;
   width: 150px;
   text-align: center;
   box-sizing: border-box;

}

.img-container .imagen:hover .nombre
{
    display: inline-block;
    transform: translateY(-20px);

}

.img-container .imagen .nombre::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-top: 10px solid rgb(240, 24, 24);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.img-container .imagen:hover img
{
    transform: translateY(-20px);
}

@media (max-width: 680px)
{
    .img-container
    {
        flex-direction: column;
        height: 180vh;
    }

    
}